/*Styles for project 5*/

body{
    padding: 10%;
}

h1{
    Padding: 1rem;
    font-family: fantasy,sans-serif;
    text-align: center;
    color: black;
    
}

h2{
    padding: 1rem;
    font-family: comic sans ms;
    font-size: 12pt;
    text-indent: 1rem;
    color:dimgray;
}

h3{
    padding: 1rem;
    font-family: comic sans ms;
    font-size: 12pt; 
    text-indent: 1rem;
    color:dimgray;
}

h4{
    padding: 1rem;
    font-family: comic sans ms;
    font-size: 12pt;
    text-indent: 1rem;
    color:dimgray;
}

h5{
    image-orientation: flex;  
}


    